html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 500px;
}

body {
  text-align: center;
  font-family: Helvetica;
  font-family: "courier new", monospace;
}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  border-bottom: 3px solid #00bcd4;
}

h4 {
  margin: 20px auto 10px;
}

.page {
  display: flex;
  flex-direction: column;
}
.container {
  flex: 1 0 auto;
  margin-bottom: 20px;
}

.subtext {
  font-size: 70%;
}

.social {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 12px;
  text-align: center;
}

li {
  display: inline-block;
  margin: 12px;
}
.social a {
  display: block;
  position: relative;
  /* height: 32px; */
  width: 32px;
}
.social a:hover {
  margin-bottom: -3px;
}
.social svg {
  display: block;
  height: 100%;
  width: 100%;
}
